#media {
  margin: 0 10px 10px 10px;
}

.media-object {
  margin-right: 10px;
}

.media-body {
  padding: 30px 0px 30px 0;
}

.media-heading {
  text-transform: capitalize;
}

.category-btn {
  margin: 20px;
  text-transform: capitalize;
}
